<!DOCTYPE html>
<html>
		<head>
			<meta charset="utf-8">
			<title>ESIGELEC</title>
			<style>
			body{
				background-color: #F79F81;
				margin-left: 20%;
				margin-right: 20%;
				border: 6px dotted blue;
				font-family: arial;
			}
			p{display:inline-block;
			width: 150px;
			margin: . 10px 0 0;
			background-color: #abc;}
			p1{
		    border:3px solid blue;
			}
			img {
	         width: 200px;
	         height: 70px;
                 }

			</style>
		</head>
		<body>
		</body>
</html>